<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">lzLoadr</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="menu">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in vm.items"><a href ui-sref="{{ item.name }}" ng-bind="item.label || item.name"></a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href ng-click="vm.theme()">Basic</a></li>
        <li><a href ng-click="vm.theme('slate')">Slate</a></li>
        <li><a href ng-click="vm.theme('superhero')">Superhero</a></li>
      </ul>
    </div>
  </div>
</nav>
